
<div class="patients-container">
    <div class="patients-title">
        <div class="title-group">
            <h2>Pacientes</h2>
            <span class="subtitle">Gerencie os pacientes cadastrados</span>
        </div>
        <div class="header-actions">
            <span class="p-input-icon-left search-field">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Buscar paciente" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" />
            </span>
            <p-button label="Novo paciente" icon="pi pi-plus" (click)="createPatient()" />
        </div>
    </div>
    <p-tieredMenu #menu [model]="menuItems" [popup]="true" />

    <p-table [value]="filteredPatients()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Paciente</th>
                <th>Idade</th>
                <th>Entrada</th>
                <th>Saída</th>
                <th>Hospital</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template #body let-patient>
            <tr>
                <td>{{ patient.name }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.entranceAt | date: 'dd/MM/yyyy' }}</td>
                <td>{{ patient.exitAt | date: 'dd/MM/yyyy' }}</td>
                <td>{{ patient.hospital.name }}</td>
                <td>
                    <p-button
                        icon="pi pi-ellipsis-v"
                        [rounded]="true"
                        [text]="true"
                        severity="secondary"
                        (click)="openMenu($event, patient)"
                    />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
