app-visitors{
    padding: 20px;
    .visitors-container{
        padding: 10px;
        border: solid 1px #cbd5e1;
        border-radius: 10px;

        .visitors-title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2{
                position: relative;
                top:-45px;
                background-color: white;
                padding-inline: 2px;
            }
        }
    }
}
