/* You can add global styles to this file, and also import other style files */

@import "app/views/hospitals/hospitals.component.less";
@import "app/views/patients/patients.component.less";
@import "app/views/visitors/visitors.component.less";
@import "app/app.component.less";

:root {
  color-scheme: light !important;
}

html, body { height: 100%; }
body { padding: 10px; margin: 0; font-family: Arial, Helvetica, sans-serif;  font-weight:400 !important;}
